# 项目排除路径
/.gradle/
/app/build/
/app/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/build/
/.idea/
/.cursor/
/.vscode/
/.skill/
/.kotlin/
/.kiro/
/local.properties
/.claude/
/.codex/