<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <receiver
            android:name="com.viel.oto.media.service.ManualDownloadNotificationActionReceiver"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name="com.viel.oto.media.service.OtoDownloadService"
            android:foregroundServiceType="dataSync"
            android:exported="false" />

        <service
            android:name="com.viel.oto.media.service.PlaybackService"
            android:foregroundServiceType="mediaPlayback"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="androidx.media3.session.MediaSessionService" />
            </intent-filter>
        </service>
    </application>
</manifest>
